node_modules
dist
.vscode
out
.fake
.ionide
mongodb-realm/
coverage/
yarn-error.log
public/
.husky/
backup.eslint
log01.log
lib/
filelist.txt
move.sh
*-ls.txt
move.sh
.npmrc
css.txt
src/assets/icons
TODO
tsname.txt
detectDuplicate.js
*-dir.list
twCorePlugins.txt
test-log.log
src/renderer/backup.json
scaffold
LICENSE.txt
OFL.txt
README.txt
graphs/
